.ft  a{
    text-decoration: none;
    color: white;
}
.ft a:hover{
    color: #4bcffa;
}
footer{
     font-family: 'Maven Pro', sans-serif;;
}
#customer{
    background-color: #089de3;
    text-align: center;
    color: white;
    padding-top: 25px;
    margin-top: 10px;
}
#customer > img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: contain;
}
#customer > h1 {
    padding-top: 20px;
}
#customer > p {
    padding: 0px 50px 50px 50px;
    text-align: justify;
    font-size: 20px;
}

.myform{
    width: 50%;
    margin: auto;
}

@media screen and (max-width:768px){
    .myform {
        width: 100%;
    }

    .item-div{
        width: 100%;
    }

    .roles{
        line-height: 14px;
    }
}

.item-div{
    width: 90%;
    margin: 2% auto;
}
.position {
    font-size: larger;
    font-weight: bold;
}
.roles{
    line-height: 12px;
}

.btn > a{
    text-decoration: none;
    color: #f1f1f1;
    
}